@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@400;600&family=Roboto:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

.header {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  grid-template-rows: 5fr;
  gap: none;
  grid-template-areas: "logo nav button";
  align-items: center;
  border-bottom: 1px solid #CCCCCC;
}
.header__logo {
  display: grid;
  grid-area: logo;
  justify-self: center;
  align-items: center;
  min-height: 95px;
}
.header .nav {
  grid-area: nav;
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-gap: 15px;
}
.header .nav__item {
  font-family: "Roboto Flex", serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  grid-gap: 57px;
}
.header .button {
  grid-area: button;
  justify-self: end;
  margin-right: 50px;
}
.header .button__item {
  font-family: "Roboto Flex", serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 45px;
  padding: 14px 36px;
  text-align: center;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 0px;
}
.header .button__item1 {
  font-family: "Roboto Flex", serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 45px;
  padding: 15px 30px;
  text-align: center;
  color: #FFFFFF;
  background-color: #FF6336;
  border: none;
}

.promo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: none;
  justify-content: flex-start;
  grid-template-areas: "promo__header image1" "promo__text image1" "button-block image1" "promo__text2 image1";
  padding: 97px 75px 0 75px;
}
.promo__header {
  font-family: "Roboto Flex", serif;
  font-size: 65px;
  font-weight: 600;
  line-height: 70px;
  display: grid;
  grid-area: promo__header;
  color: #000000;
  gap: 51px;
}
.promo__text {
  display: grid;
  grid-area: promo__text;
  font-family: "Roboto Flex", serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 35px;
  color: #000000;
  width: 90%;
  padding: 51px 0 0;
}
.promo__image {
  display: grid;
  align-items: start;
  grid-area: image1;
}
.promo__text2 {
  font-family: "Roboto Flex", serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  display: grid;
  margin-top: -100px;
  grid-area: promo__text2;
}

.button-block {
  display: grid;
  grid-template-columns: 160px 160px;
  grid-template-rows: 60px;
  gap: 10px;
  grid-area: button-block;
  padding: 30px 0 0;
}
.button-block__try {
  font-family: "Roboto Flex", serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 60px;
  display: grid;
  max-height: 60px;
  justify-content: center;
  align-items: center;
  background-color: #FF6336;
  color: #FFFFFF;
}
.button-block__book {
  font-family: "Roboto Flex", serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 60px;
  display: grid;
  max-height: 60px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  color: #000000;
}

.brands {
  font-family: "Roboto Flex", serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  display: grid;
  grid-template-columns: none;
  grid-template-rows: 1fr 1fr;
  gap: none;
  background-color: #FF9C7D;
}
.brands__company {
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 98px 230px 0 340px;
  text-align: center;
  width: 48%;
}
.brands__logo {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  padding: 70px 0 94px;
}

.note {
  display: grid;
  justify-content: center;
}

.block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: none;
  padding: 100px 75px 125px 75px;
}
.block__text {
  display: grid;
  justify-content: center;
  align-content: center;
}
.block__text > h2 {
  font-family: "Roboto Flex", serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  width: 75%;
}
.block__text > p {
  font-family: "Roboto Flex", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  padding: 30px 0;
  width: 70%;
}
.block__text > span {
  font-family: "Roboto Flex", serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
.block__img_1 {
  padding: 119px 66px 158px 66px;
  background-color: #FFF8E4;
}
.block__text-right {
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 0 0 0 138px;
}
.block__text-right > h2 {
  font-family: "Roboto Flex", serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  width: 75%;
}
.block__text-right > p {
  font-family: "Roboto Flex", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  padding: 30px 0;
  width: 85%;
}
.block__text-right > span {
  font-family: "Roboto Flex", serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 2fr;
  gap: none;
  background-color: #FFF8E4;
  align-items: start;
}
.options__header {
  font-family: "Roboto Flex", serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  display: grid;
  justify-content: center;
  align-items: end;
  grid-column-end: span 3;
  padding: 120px 200px 50px 200px;
}
.options__item {
  display: grid;
  justify-items: center;
  align-content: center;
}
.options__item > h2 {
  font-family: "Roboto Flex", serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 35px;
  padding: 26px 0 20px 0;
}
.options__item > p {
  font-family: "Roboto Flex", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  width: 55%;
}

.team {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 3fr;
  gap: 30px;
  justify-content: center;
  justify-items: center;
  padding: 150px 75px;
}
.team__header {
  font-family: "Roboto Flex", serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-column-end: span 3;
}
.team__item {
  text-align: start;
}
.team__item > img {
  padding: 0 0 49px 0;
}
.team__item > h2 {
  font-family: "Roboto Flex", serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
}
.team__item > p {
  font-family: "Roboto Flex", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  padding: 34px 0 25px 0;
}
.team__item > a {
  font-family: "Roboto Flex", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
  text-decoration: underline;
}

.manager {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: none;
  gap: 85px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  background-color: #C9E8F2;
  padding: 63px 75px 105px 75px;
}
.manager__text {
  display: grid;
}
.manager__text > p {
  font-family: "Roboto Flex", serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
}
.manager__text > span {
  font-family: "Roboto Flex", serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  padding: 23px 0 7px 0;
}
.manager__text > .text__img1 {
  grid-row-start: 3;
}

.soft {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: none;
  gap: none;
  background-color: #DABC98;
  padding: 80px 75px 80px 55px;
}
.soft__text {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: none;
  gap: none;
  justify-items: center;
  align-items: center;
}
.soft__text > p {
  font-family: "Roboto Flex", serif;
  font-size: 35px;
  font-weight: 600;
  line-height: 50px;
}
.soft__images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: none;
  gap: none;
  justify-items: center;
  align-items: center;
  border-left: 1px solid #000;
}
.soft__images > .images__g2 {
  display: grid;
  grid-template-columns: none;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 13px;
}
.soft__images > .images__capterra {
  display: grid;
  grid-template-columns: none;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 13px;
}
.soft__images > .images__g2 > span {
  font-family: "Roboto Flex", serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}
.soft__images > .images__capterra > span {
  font-family: "Roboto Flex", serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

.tools {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-rows: auto;
  padding: 120px 75px 150px 75px;
}

.tools > h2 {
  font-family: "Roboto Flex", serif;
  font-size: 65px;
  font-weight: 600;
  line-height: 75px;
  width: 60%;
  text-align: center;
}

.tools > p {
  font-family: "Roboto Flex", serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  width: 60%;
  text-align: center;
  padding: 0 0 25px 0;
}

.tools > img {
  padding: 0 0 30px 0;
}

.tools > button {
  font-family: "Roboto Flex", serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 60px;
  color: #FFFFFF;
  background-color: #FF6336;
  padding: 0 25px;
  border: none;
}

.try_it {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-rows: auto;
  padding: 170px;
  background-color: #FF9C7D;
}

.try_it > h2 {
  font-family: "Roboto Flex", serif;
  font-size: 65px;
  font-weight: 600;
  line-height: 75px;
  text-align: center;
  width: 70%;
}

.try_it > p {
  font-family: "Roboto Flex", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  padding: 29px 0 54px 0;
}

.try_it > button {
  font-family: "Roboto Flex", serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 60px;
  padding: 0 43px;
  color: #FFFFFF;
  background-color: #000000;
  border: none;
}

.footer_links {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  grid-template-rows: none;
  gap: none;
  padding: 95px 75px;
  background-color: #EEEEEE;
  border-bottom: 1px solid #000000;
}
.footer_links__case {
  display: grid;
  grid-template-columns: none;
  grid-template-rows: 1fr 6fr 1fr 1fr 1fr;
  gap: none;
}

.footer_links > .footer_links__case > h2 {
  font-family: "Roboto Flex", serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
}

.footer_links > .footer_links__case > p {
  font-family: "Roboto Flex", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  width: 75%;
}

.footer_links > .footer_links__case > a {
  font-family: "Roboto Flex", serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #000000;
  padding: 15px 0;
}

.footer_links > .footer_links__items > h3 {
  font-family: "Roboto Flex", serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  margin-bottom: 21px;
}

.items__columns_link {
  font-family: "Roboto Flex", serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  color: #000000;
}

.items__columns > ul {
  display: grid;
  gap: 15px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EEEEEE;
  padding: 48px 75px;
}
.footer__logo {
  display: flex;
  gap: 15px;
}
.footer__logo > p {
  font-family: "Roboto Flex", serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  width: 65%;
}
.footer__rights {
  display: flex;
  flex-direction: column;
}
.footer__rights > span {
  font-family: "Roboto Flex", serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}/*# sourceMappingURL=style.css.map */